### HR Analytics

In [10]:
# Lectura de datos de csv
import pandas as pd
filename = 'HR_comma_sep.csv'
df = pd.read_csv(filename)

In [11]:
df.describe(include='all')

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999,14999
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,3
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,sales,low
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4140,7316
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268,NaN,NaN
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281,NaN,NaN
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000,NaN,NaN
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000,NaN,NaN
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000,NaN,NaN
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000,NaN,NaN

#### Pequeño Análisis Exploratorio

In [12]:
df['left'].describe()

count    14999.000000
mean         0.238083
std          0.425924
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: left, dtype: float64

In [13]:
# Desbalanceo?
df['left'].value_counts()

0    11428
1     3571
Name: left, dtype: int64

#### Posibles categóricas

In [14]:
df['promotion_last_5years'].value_counts()

0    14680
1      319
Name: promotion_last_5years, dtype: int64

In [15]:
df['Work_accident'].value_counts()

0    12830
1     2169
Name: Work_accident, dtype: int64

In [16]:
df['sales'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: sales, dtype: int64

In [17]:
df['salary'].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

#### Ponemos one hot en las categóricas

In [18]:

cols = ['sales', 'salary']
df = pd.get_dummies(df, columns = cols )

In [19]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales_IT,sales_RandD,...,sales_hr,sales_management,sales_marketing,sales_product_mng,sales_sales,sales_support,sales_technical,salary_high,salary_low,salary_medium
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0.80,0.86,5,262,6,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0.11,0.88,7,272,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,1
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0.37,0.52,2,159,3,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

#### Split estándar Train/Test

In [20]:
import numpy as np
def get_train_test(df, y_col, ratio):
    mask = np.random.rand(len(df)) < ratio
    df_train = df[mask]
    df_test = df[~mask]
    
    Y_train = df_train[y_col].values
    Y_test = df_test[y_col].values
    del df_train[y_col]
    del df_test[y_col]
 
    X_train = df_train.values
    X_test = df_test.values
    return X_train, Y_train, X_test, Y_test

RANDOM_SEED = 111
np.random.seed (RANDOM_SEED)
y_col = 'left'
train_test_ratio = 0.7
X_train, Y_train, X_test, Y_test = get_train_test(df, y_col, train_test_ratio)

In [21]:
df.shape

(14999, 21)

In [22]:
X_train.shape

(10442, 20)

### Entrenamos el clasificador: un Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.datasets import make_classification

clf = RandomForestClassifier(criterion='gini', random_state=RANDOM_SEED)
clf.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=111, verbose=0, warm_start=False)

El clasificador ya tiene la importancia directamente incorporada

In [24]:
clf.feature_importances_

array([ 0.30492223,  0.13714603,  0.15632288,  0.12943454,  0.22106429,
        0.01270287,  0.00155311,  0.00134647,  0.00164479,  0.00170478,
        0.00131802,  0.00127354,  0.00117367,  0.00104622,  0.00293155,
        0.00313983,  0.00356503,  0.0060701 ,  0.00704517,  0.00459487])

In [25]:
threshold = 0.05
importantFeatures = [index for (index, importance) in enumerate (clf.feature_importances_)
                     if importance > threshold]
importantFeatures

[0, 1, 2, 3, 4]

### Columnas importantes

In [26]:
selection = df.columns[importantFeatures]
selection

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company'],
      dtype='object')

#### Evaluamos performance
¿Tendrá diferencias si eliminamos las columnas menos importantes?

In [27]:
clf.score(X_test, Y_test)

0.98661400043888525

In [28]:
from sklearn import metrics

pred = clf.predict(X_test)
fpr, tpr, thresholds = metrics.roc_curve(Y_test, pred)
metrics.auc(fpr, tpr)

0.97543566612793053

In [29]:
selection = selection.insert(len (selection), 'left')
dfSelection = df[selection]
dfSelection

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,left
0,0.38,0.53,2,157,3,1
1,0.80,0.86,5,262,6,1
2,0.11,0.88,7,272,4,1
3,0.72,0.87,5,223,5,1
4,0.37,0.52,2,159,3,1
5,0.41,0.50,2,153,3,1
6,0.10,0.77,6,247,4,1
7,0.92,0.85,5,259,5,1
8,0.89,1.00,5,224,5,1
9,0.42,0.53,2,142,3,1
10,0.45,0.54,2,135,3,1
11,0.11,0.81,6,305,4,1
12,0.84,0.92,4,234,5,1
13,0.41,0.55,2,148,3,1
14,0.36,0.56,2,137,3,1
15,0.38,0.54,2,143,3,1
16,0.45,0.47,2,160,3,1
17,0.78,0.99,4,255,6,1
18,0.45,0.51,2,160,3,1
19,0.76,0.89,5,262,5,1
20,0.11,0.83,6,282,4,1
21,0.38,0.55,2,147,3,1
22,0.09,0.95,6,304,4,1
23,0.46,0.57,2,139,3,1
24,0.40,0.53,2,158,3,1
25,0.89,0.92,5,242,5,1
26,0.82,0.87,4,239,5,1
27,0.40,0.49,2,135,3,1
28,0.41,0.46,2,128,3,1
29,0.38,0.50,2,132,3,1
...,...,...,...,...,...,...
14969,0.43,0.46,2,157,3,1
14970,0.78,0.93,4,225,5,1
14971,0.39,0.45,2,140,3,1
14972,0.11,0.97,6,310,4,1
14973,0.36,0.52,2,143,3,1
14974,0.36,0.54,2,153,3,1
14975,0.10,0.79,7,310,4,1
14976,0.40,0.47,2,136,3,1
14977,0.81,0.85,4,251,6,1
14978,0.40,0.47,2,144,3,1
14979,0.09,0.93,6,296,4,1
14980,0.76,0.89,5,238,5,1
14981,0.73,0.93,5,162,4,1
14982,0.38,0.49,2,137,3,1
14983,0.72,0.84,5,257,5,1
14984,0.40,0.56,2,148,3,1
14985,0.91,0.99,5,254,5,1
14986,0.85,0.85,4,247,6,1
14987,0.90,0.70,5,206,4,1
14988,0.46,0.55,2,145,3,1
14989,0.43,0.57,2,159,3,1
14990,0.89,0.88,5,228,5,1
14991,0.09,0.81,6,257,4,1
14992,0.40,0.48,2,155,3,1
14993,0.76,0.83,6,293,6,1
14994,0.40,0.57,2,151,3,1
14995,0.37,0.48,2,160,3,1
14996,0.37,0.53,2,143,3,1
14997,0.11,0.96,6,280,4,1
14998,0.37,0.52,2,158,3,1

In [30]:
X_train1, Y_train1, X_test1, Y_test1 = get_train_test(dfSelection, y_col, train_test_ratio)
clfred = RandomForestClassifier(criterion='gini', random_state=RANDOM_SEED)
clfred.fit(X_train1, Y_train1)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=111, verbose=0, warm_start=False)

In [31]:
clfred.score(X_test1, Y_test1)

0.98712737127371275

In [32]:
pred = clfred.predict(X_test1)
fpr, tpr, thresholds = metrics.roc_curve(Y_test1, pred)
metrics.auc(fpr, tpr)

0.97655405338385393

## Insertamos ruido

In [33]:
filename = 'HR_comma_sep.csv'
df = pd.read_csv(filename)

In [34]:
cols = ['sales', 'salary']
dfRuido = pd.get_dummies(df, columns = cols )

In [35]:
numRandomExtra = 20
mu = 0
sigma = 1
for j in range(numRandomExtra):
    name = "randomCol" + str(j +1)
    dfRuido[name] = np.random.normal(mu, sigma, dfRuido.shape[0])


dfRuido.head(5)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales_IT,sales_RandD,...,randomCol11,randomCol12,randomCol13,randomCol14,randomCol15,randomCol16,randomCol17,randomCol18,randomCol19,randomCol20
0,0.38,0.53,2,157,3,0,1,0,0,0,...,0.045001,-2.110347,0.581363,-0.935612,0.233159,-0.231303,0.521065,-1.008143,1.521878,-0.488156
1,0.80,0.86,5,262,6,0,1,0,0,0,...,-1.167138,0.601079,-0.122554,0.326476,-2.987942,-0.468813,-1.481487,1.556378,-1.359711,-0.913871
2,0.11,0.88,7,272,4,0,1,0,0,0,...,-0.863938,0.737363,-0.067015,0.207785,0.819725,-0.288270,-1.098499,0.587468,0.260434,-0.419024
3,0.72,0.87,5,223,5,0,1,0,0,0,...,0.334084,0.265990,-1.406164,1.987137,0.267195,0.759235,-0.604976,-0.223552,-0.560891,0.439037
4,0.37,0.52,2,159,3,0,1,0,0,0,...,-1.930425,-0.414509,0.690830,-0.077957,1.118692,-1.137772,-0.611787,1.406306,0.102402,-0.927350

In [36]:
X_trainRuido, Y_trainRuido, X_testRuido, Y_testRuido = get_train_test(dfRuido, y_col, train_test_ratio)

In [37]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.datasets import make_classification
clf = RandomForestClassifier(criterion='gini', random_state=RANDOM_SEED)
clf.fit(X_trainRuido, Y_trainRuido)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=111, verbose=0, warm_start=False)

In [38]:
clf.feature_importances_

array([ 0.25843692,  0.10854137,  0.17960657,  0.11999687,  0.14415972,
        0.00830299,  0.00105259,  0.00081368,  0.00103844,  0.00056485,
        0.00057861,  0.00036273,  0.0006333 ,  0.0003327 ,  0.00127643,
        0.00067668,  0.00153869,  0.00487396,  0.0056746 ,  0.00278497,
        0.0081045 ,  0.00771159,  0.00697458,  0.00721949,  0.00950905,
        0.00833033,  0.00814239,  0.00770719,  0.00761337,  0.00899764,
        0.00741422,  0.00703435,  0.00897903,  0.00817724,  0.00828749,
        0.0058814 ,  0.00875335,  0.00868681,  0.00803112,  0.00719819])

In [39]:
threshold = 0.05
importantFeatures = [index for (index, importance) in enumerate (clf.feature_importances_)
                     if importance > threshold]
importantFeatures

[0, 1, 2, 3, 4]

In [40]:
importancias = clf.feature_importances_
index = np.argmax (dfRuido.columns == 'left')
importancias = np.insert (importancias, index, 1.0)

### Listado de importancias

In [41]:
dfImpor = pd.DataFrame(
    {'name': dfRuido.columns,
     'importance': importancias
    })
dfImpor.sort_values(by=['importance'], ascending=False)

    importance                   name
6     1.000000                   left
0     0.258437     satisfaction_level
2     0.179607         number_project
4     0.144160     time_spend_company
3     0.119997   average_montly_hours
1     0.108541        last_evaluation
25    0.009509             randomCol5
30    0.008998            randomCol10
33    0.008979            randomCol13
37    0.008753            randomCol17
38    0.008687            randomCol18
26    0.008330             randomCol6
5     0.008303          Work_accident
35    0.008287            randomCol15
34    0.008177            randomCol14
27    0.008142             randomCol7
21    0.008104             randomCol1
39    0.008031            randomCol19
22    0.007712             randomCol2
28    0.007707             randomCol8
29    0.007613             randomCol9
31    0.007414            randomCol11
24    0.007219             randomCol4
40    0.007198            randomCol20
32    0.007034            randomCol12
23    0.006975             randomCol3
36    0.005881            randomCol16
19    0.005675             salary_low
18    0.004874            salary_high
20    0.002785          salary_medium
17    0.001539        sales_technical
15    0.001276            sales_sales
7     0.001053  promotion_last_5years
9     0.001038            sales_RandD
8     0.000814               sales_IT
16    0.000677          sales_support
13    0.000633        sales_marketing
11    0.000579               sales_hr
10    0.000565       sales_accounting
12    0.000363       sales_management
14    0.000333      sales_product_mng

### Eliminamos columnas importantes

In [42]:
cols = dfRuido.columns[:]
cols

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales_IT', 'sales_RandD', 'sales_accounting',
       'sales_hr', 'sales_management', 'sales_marketing', 'sales_product_mng',
       'sales_sales', 'sales_support', 'sales_technical', 'salary_high',
       'salary_low', 'salary_medium', 'randomCol1', 'randomCol2', 'randomCol3',
       'randomCol4', 'randomCol5', 'randomCol6', 'randomCol7', 'randomCol8',
       'randomCol9', 'randomCol10', 'randomCol11', 'randomCol12',
       'randomCol13', 'randomCol14', 'randomCol15', 'randomCol16',
       'randomCol17', 'randomCol18', 'randomCol19', 'randomCol20'],
      dtype='object')

In [43]:
selectionRuido = dfRuido.columns[4:]
dfSelectionRuido = dfRuido[selectionRuido]
dfSelectionRuido

,time_spend_company,Work_accident,left,promotion_last_5years,sales_IT,sales_RandD,sales_accounting,sales_hr,sales_management,sales_marketing,...,randomCol11,randomCol12,randomCol13,randomCol14,randomCol15,randomCol16,randomCol17,randomCol18,randomCol19,randomCol20
0,3,0,1,0,0,0,0,0,0,0,...,0.045001,-2.110347,0.581363,-0.935612,0.233159,-0.231303,0.521065,-1.008143,1.521878,-0.488156
1,6,0,1,0,0,0,0,0,0,0,...,-1.167138,0.601079,-0.122554,0.326476,-2.987942,-0.468813,-1.481487,1.556378,-1.359711,-0.913871
2,4,0,1,0,0,0,0,0,0,0,...,-0.863938,0.737363,-0.067015,0.207785,0.819725,-0.288270,-1.098499,0.587468,0.260434,-0.419024
3,5,0,1,0,0,0,0,0,0,0,...,0.334084,0.265990,-1.406164,1.987137,0.267195,0.759235,-0.604976,-0.223552,-0.560891,0.439037
4,3,0,1,0,0,0,0,0,0,0,...,-1.930425,-0.414509,0.690830,-0.077957,1.118692,-1.137772,-0.611787,1.406306,0.102402,-0.927350
5,3,0,1,0,0,0,0,0,0,0,...,-0.990022,0.801214,-1.187905,-1.116071,-1.226753,1.188184,-0.632546,-0.339986,-1.386551,0.831998
6,4,0,1,0,0,0,0,0,0,0,...,1.155562,-0.756065,1.083009,-0.029016,0.412685,-1.179648,-0.382941,0.191157,-0.494639,1.079249
7,5,0,1,0,0,0,0,0,0,0,...,0.105089,1.110798,-0.353353,1.157559,-2.180407,-0.931017,0.330538,1.229931,-1.544440,0.979983
8,5,0,1,0,0,0,0,0,0,0,...,1.845731,-0.369857,-0.274291,-0.496053,0.984833,0.051901,0.587057,0.558586,1.099378,-1.144652
9,3,0,1,0,0,0,0,0,0,0,...,0.654676,1.109652,-0.676762,0.255804,0.737756,-0.777393,-0.174314,-0.441199,0.490918,1.507485
10,3,0,1,0,0,0,0,0,0,0,...,-2.075776,0.025984,0.192747,0.772539,-0.296770,1.181663,1.508874,-0.021868,-0.211062,0.628040
11,4,0,1,0,0,0,0,0,0,0,...,1.393572,-0.618940,-0.411817,0.444354,0.510763,1.336196,-1.891807,-0.667285,0.044780,0.550834
12,5,0,1,0,0,0,0,0,0,0,...,-0.573320,0.714452,-0.391202,-0.293402,-0.469323,-1.717067,0.857953,0.192646,0.966761,-2.030442
13,3,0,1,0,0,0,0,0,0,0,...,0.412419,-0.353983,0.447820,0.118763,-0.878548,-1.697682,-1.274361,0.620977,1.650734,-0.033097
14,3,0,1,0,0,0,0,0,0,0,...,0.805329,-0.803692,1.164760,-0.513167,1.986525,-0.008645,1.342250,-1.085435,0.344527,-0.812935
15,3,0,1,0,0,0,0,0,0,0,...,-0.405222,-0.405168,-0.177734,-0.710784,-0.170565,-0.435894,-0.479990,2.599737,0.900335,-1.912550
16,3,0,1,0,0,0,0,0,0,0,...,-0.295586,-0.185340,-1.720625,1.118066,0.404505,0.899370,0.716294,0.205922,-0.322492,0.061704
17,6,0,1,0,0,0,0,0,0,0,...,0.662323,2.302642,-0.848260,-0.369784,-0.045774,1.152220,-0.120552,0.711928,-1.173359,-1.891606
18,3,1,1,1,0,0,0,0,0,0,...,1.225445,0.818179,-0.354823,-1.453640,-0.537144,-2.381634,1.279288,1.707871,1.004821,1.045152
19,5,0,1,0,0,0,0,0,0,0,...,0.089568,-0.024618,0.652137,0.040531,-0.181987,-1.135622,0.024967,0.943936,-1.668970,-0.338744
20,4,0,1,0,0,0,0,0,0,0,...,0.360460,1.253119,1.528614,1.861327,1.083412,-1.640072,-1.573385,1.455246,-0.413861,0.655465
21,3,0,1,0,0,0,0,0,0,0,...,-0.027104,0.845275,1.183247,0.743949,-1.626116,1.133174,0.805906,1.016241,1.734279,0.929292
22,4,0,1,0,0,0,0,0,0,0,...,-0.255111,0.568496,-1.277919,0.085779,-0.947139,0.235990,2.273375,-0.105085,-0.929384,-0.905893
23,3,0,1,0,0,0,0,0,0,0,...,1.390632,-0.174754,1.345594,2.335266,-1.922799,-1.422551,0.552322,0.489497,1.705477,-2.694616
24,3,0,1,0,0,0,0,0,0,0,...,1.169430,-0.883208,1.112025,-0.867355,0.589190,-0.107903,0.131049,1.319488,0.642825,1.254057
25,5,0,1,0,0,0,0,0,0,0,...,-0.773466,0.654941,0.810865,-0.005884,-1.396944,-0.767827,1.522726,-1.493349,2.165700,0.001977
26,5,0,1,0,0,0,0,0,0,0,...,0.696308,0.095443,-0.911538,0.727501,0.547041,-0.008047,0.127142,0.714626,1.370945,0.406518
27,3,0,1,0,0,0,0,0,0,0,...,0.142198,-0.104378,0.675481,-1.432087,-0.240415,0.697905,0.946062,1.580465,-0.427649,-0.497887
28,3,0,1,0,0,0,1,0,0,0,...,-0.295142,0.538229,-0.470640,-1.211363,0.694349,0.515468,-0.322435,-1.604136,1.071743,0.540788
29,3,0,1,0,0,0,1,0,0,0,...,0.336163,-0.668277,1.090155,-0.178948,0.251126,-0.150983,2.349857,-1.476443,0.569449,-0.304889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14969,3,0,1,0,0,0,0,0,0,0,...,-0.360601,0.033947,-0.184830,0.697838,3.452899,-1.879110,0.119159,-0.283764,-0.689222,0.641318
14970,5,0,1,0,0,0,0,0,0,0,...,0.096019,-1.013967,-0.610738,-1.382989,-0.110027,-1.160618,-0.406748,-1.126299,-0.408135,-0.959131
14971,3,0,1,0,0,0,0,0,0,0,...,-0.757550,0.723287,-0.470877,-0.720458,0.988365,-0.498262,-0.247205,-1.588835,-1.885736,-2.322459
14972,4,0,1,0,0,0,1,0,0,0,...,0.601834,2.903673,1.134908,-0.918106,-0.121738,1.071146,0.824728,-0.534952,-1.348394,0.706236
14973,3,0,1,0,0,0,1,0,0,0,...,-0.432287,-1.280022,-0.887234,1.635101,0.592089,-1.552976,0.446829,-0.049553,-3.224925,-0.029863
14974,3,0,1,0,0,0,1,0,0,0,...,-0.835018,-0.666375,0.758790,1.786657,-0.792498,0.753885,-0.073258,-0.468895,1.429794,-1.032897
14975,4,0,1,0,0,0,0,1,0,0,...,-1.377346,-0.373966,1.100145,0.964246,0.630798,0.391059,-1.086964,0.085923,2.061703,0.357950
14976,3,0,1,0,0,0,0,1,0,0,...,-1.801187,-0.938409,0.285786,0.114234,0.257077,-0.785889,-0.308884,0.196457,1.630928,0.087381
14977,6,0,1,0,0,0,0,1,0,0,...,-0.012492,1.251472,-1.157972,0.392160,-1.159196,-0.274582,0.152348,-0.352840,0.707993,0.536078
14978,3,0,1,0,0,0,0,1,0,0,...,0.352356,0.480870,-0.022989,-0.831495,-1.881232,-0.844016,-0.484665,-0.396955,1.310126,0.696735
14979,4,0,1,0,0,0,0,0,0,0,...,-0.785713,1.246697,0.187219,0.428384,0.089869,-0.157652,-2.085435,1.354393,0.427549,0.198017
14980,5,0,1,0,0,0,0,0,0,0,...,0.655334,0.993177,-0.068156,-0.989714,0.845690,1.197387,-0.604302,-2.029854,-0.963880,-1.540809
14981,4,0,1,0,0,0,0,0,0,0,...,0.721793,-2.319272,0.098281,-0.563342,0.171532,2.202984,0.519063,0.439169,-0.640130,1.495181
14982,3,0,1,0,0,0,0,0,0,0,...,-0.065733,1.419071,1.274753,1.398420,-0.244717,-0.176052,1.109240,0.814990,-0.535151,0.796000
14983,5,0,1,0,0,0,0,0,0,0,...,1.999670,2.568707,0.056992,-0.627530,-1.931640,-0.076463,0.285866,1.364034,-0.263077,0.668324
14984,3,0,1,0,0,0,0,0,0,0,...,-0.395679,0.098918,-0.041792,-0.731986,0.715204,1.437935,-0.128360,0.328787,0.332094,1.089176
14985,5,0,1,0,0,0,0,0,0,0,...,0.835522,0.777307,0.160328,0.295653,-0.245318,-0.665443,-0.653497,-1.686456,2.015849,0.199061
14986,6,0,1,0,0,0,0,0,0,0,...,1.107378,1.042811,-0.724745,0.296774,0.141951,0.790384,2.008221,-2.824116,0.996669,1.437092
14987,4,0,1,0,0,0,0,0,0,0,...,1.067200,-0.479024,-0.685326,-2.407133,0.893158,0.500166,-0.103344,0.414800,0.061108,-0.053486
14988,3,0,1,0,0,0,0,0,0,0,...,-0.893936,2.355950,0.917839,-0.322854,-0.332087,-2.219041,0.565368,-0.664443,-0.438942,0.319193
14989,3,1,1,0,0,0,0,0,0,0,...,-0.990683,-0.355210,0.139428,-0.875265,0.213272,0.043393,-0.596416,-1.349149,0.346851,-0.542795
14990,5,1,1,0,0,0,0,0,0,0,...,-0.270076,0.606456,0.225972,0.925802,1.729864,0.532108,-0.249344,0.252542,-1.619095,0.976305
14991,4,0,1,0,0,0,0,0,0,0,...,0.453706,-0.735012,-0.074914,-1.261636,0.298014,-0.791456,0.717752,-0.292652,0.279541,-0.618496
14992,3,0,1,0,0,0,0,0,0,0,...,-0.287390,0.013183,-0.652486,0.452373,-2.517986,-1.915261,1.749920,-1.054001,0.798305,-0.574291
14993,6,0,1,0,0,0,0,0,0,0,...,-1.651510,-1.779964,0.616150,-0.810413,-0.384261,-0.077929,0.821421,2.061830,0.824294,1.954794
14994,3,0,1,0,0,0,0,0,0,0,...,1.080440,0.144211,-0.969556,0.784898,-0.592469,-0.452257,-0.997390,0.334986,0.088171,0.978414
14995,3,0,1,0,0,0,0,0,0,0,...,1.900530,-1.470883,2.893130,1.971234,-1.674736,-0.361544,-0.471148,-1.173251,0.125064,0.109512
14996,3,0,1,0,0,0,0,0,0,0,...,0.173331,-2.136961,0.779682,-1.285135,-1.088443,0.364682,0.123922,0.138100,-0.335247,2.762758
14997,4,0,1,0,0,0,0,0,0,0,...,-0.244104,0.719779,-0.405677,0.301087,0.208833,-1.118896,0.456015,-0.408430,-0.084074,1.668709
14998,3,0,1,0,0,0,0,0,0,0,...,1.920146,-0.097580,0.718489,0.250513,0.664485,-0.215445,-0.108624,-0.545834,0.260104,1.142332

In [44]:
X_trainRuido2, Y_trainRuido2, X_testRuido2, Y_testRuido2 = get_train_test(dfSelectionRuido, y_col, train_test_ratio)

In [45]:
clf = RandomForestClassifier(criterion='gini', random_state=RANDOM_SEED)
clf.fit(X_trainRuido2, Y_trainRuido2)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=111, verbose=0, warm_start=False)

In [46]:
clf.feature_importances_

array([ 0.10756911,  0.02389927,  0.00112253,  0.00220566,  0.00239458,
        0.00396147,  0.00379425,  0.00160921,  0.00275277,  0.00274748,
        0.00561291,  0.00317682,  0.00445738,  0.00741667,  0.01622723,
        0.00535977,  0.03614683,  0.04100863,  0.04036429,  0.0415931 ,
        0.04285339,  0.03949502,  0.04354788,  0.03684807,  0.03893225,
        0.03705337,  0.03984796,  0.04133082,  0.04164046,  0.03895165,
        0.03976548,  0.04034117,  0.04271376,  0.04315434,  0.03819477,
        0.04190965])

In [47]:
importancias = clf.feature_importances_
index = np.argmax (dfSelectionRuido.columns == 'left')
importancias = np.insert (importancias, index, 1.0)

In [48]:
# pd.DataFrame([df.columns, clf.feature_importances_], columns=['name', 'importance'])
dfImpor = pd.DataFrame(
    {'name': dfSelectionRuido.columns,
     'importance': importancias
    })
dfImpor.sort_values(by=['importance'], ascending=False)

    importance                   name
2     1.000000                   left
0     0.107569     time_spend_company
23    0.043548             randomCol7
34    0.043154            randomCol18
21    0.042853             randomCol5
33    0.042714            randomCol17
36    0.041910            randomCol20
29    0.041640            randomCol13
20    0.041593             randomCol4
28    0.041331            randomCol12
18    0.041009             randomCol2
19    0.040364             randomCol3
32    0.040341            randomCol16
27    0.039848            randomCol11
31    0.039765            randomCol15
22    0.039495             randomCol6
30    0.038952            randomCol14
25    0.038932             randomCol9
35    0.038195            randomCol19
26    0.037053            randomCol10
24    0.036848             randomCol8
17    0.036147             randomCol1
1     0.023899          Work_accident
15    0.016227             salary_low
14    0.007417            salary_high
11    0.005613            sales_sales
16    0.005360          salary_medium
13    0.004457        sales_technical
6     0.003961       sales_accounting
7     0.003794               sales_hr
12    0.003177          sales_support
9     0.002753        sales_marketing
10    0.002747      sales_product_mng
5     0.002395            sales_RandD
4     0.002206               sales_IT
8     0.001609       sales_management
3     0.001123  promotion_last_5years

In [49]:
clf.score(X_testRuido2, Y_testRuido2)

0.75176678445229683

In [50]:
pred = clf.predict(X_testRuido2)
fpr, tpr, thresholds = metrics.roc_curve(Y_testRuido2, pred)
metrics.auc(fpr, tpr)

0.5408244098939271

In [51]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_testRuido2, pred)# labels=["ant", "bird", "cat"])

array([[3249,  230],
       [ 894,  155]])